<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8" />
	<title>购物车第一步（购物车）_兰蔻Lancome官网</title>
    <meta name="keywords" content="兰蔻购物车" />
    <meta name="description" content="欢迎进入兰蔻唯一官网暨官方商城，将您喜欢的产品尽情加入购物车吧。这里包含最全的兰蔻产品，全场免运费，还有有礼盒套装及限时好礼相待！" />
	<meta name="author" content="" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="refresh" content="7200">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no" />
	<!-- 启用360浏览器的极速模式(webkit) -->
	<meta name="renderer" content="webkit" />
	<meta name="MobileOptimized" content="320" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="_csrf" content="08c48fcb-899e-44b1-b09b-c5506b6086ea"/>
<script type="text/javascript">

    var base = "";

    var staticbase = "https://res.lancome.com.cn";

    var imgbase = "https://res.lancome.com.cn/resources/";

    var defaultImg = "";

    var profile = "pro";

    var pdpbase = "https://www.lancome.com.cn";

	var loginFlag = false;

	var engravedImg = "https://res.lancome.com.cn/resources/engraved/";

	var couponFlag = false;
</script><!-- 公共 CSS 部分开始 -->
<link rel="stylesheet" type="text/css" media="screen" href="static/css/4758a3b4fd2947f2948c0bd59b1e68ee.css" />
<link rel="stylesheet" type="text/css" media="screen" href="static/css/common.min.css" /><script type="text/javascript" src="static/js/581580cc657c41be865af9aebf7b48ce.js"></script>
<script type="text/javascript">
			(function($) {
				$.spice.init({
					throttleTime: 100,
					debounceTime: 300
				});
			})(jQuery);
		</script>
 <script type="text/javascript" src="static/js/c467f876748c4a38a263275ab33b6db9.js"></script>
<script type="text/javascript">
  	(function($) {
		loxia.init({
			debug : true,
			region : 'zh_CN'
		});
  	});
</script>

<!-- 自定义的js开始部分 -->
<script type="text/javascript" src="static/js/8c9c669eebe0408186a2a16422dbcf75.js"></script>
<link rel="apple-touch-icon" href="https://res.lancome.com.cn/favicon_57x57.png?version=20181115152346689">

<link rel="apple-touch-icon" sizes="72x72" href="https://res.lancome.com.cn/favicon_72x72.png?version=20181115152346689">

<link rel="apple-touch-icon" sizes="114x114" href="https://res.lancome.com.cn/favicon_114x114.png?version=20181115152346689">

<link rel="apple-touch-icon" sizes="228x228" href="https://res.lancome.com.cn/favicon_228x228.png?version=20181115152346689">


<link rel="icon" href="https://res.lancome.com.cn/favicon_114x114.png?version=20181115152346689">
<link rel="Shortcut Icon" href="https://res.lancome.com.cn/favicon.ico?version=20181115152346689">
<link rel="Bookmark" href="https://res.lancome.com.cn/favicon.ico?version=20181115152346689" type="image/x-icon" />

</head>
<body>
	<script type="text/javascript">
		if (navigator.appName == "Microsoft Internet Explorer" && parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE", "")) < 9) {
			document.body.innerHTML = '' +
				'<div class="ltie9-dialog">' +
				'	<div class="dialog-mask"></div>' +
				'	<div class="dialog-wrapper">' +
				'		<p class="title">提示</p>' +
				'		<div class="content">您的浏览器版本过低,为了更好的体验,建议升级到IE9以上版本。</div>' +
				'		<div class="bottom"><a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads">立即升级</a></div>' +
				'	</div>' +
				'</div>' +
				'';
		}
	</script>
	
	<div id="wrapper">
		<header class="header-simple">
	<div class="headerbar-account">
		<a href="/" title="">
			<i class="icon icon-simple-logo none-sm"></i>
			<i class="icon icon-simple-logo-m none block-sm"></i>
		</a>
	</div>
</header><link rel="stylesheet" type="text/css" media="screen" href="static/css/3bf63d951516471aad34e6c998fa8730.css" />
<script type="text/javascript" src="static/js/d05376e60d084ea480e02ddb1b14cf20.js"></script>
<script type="text/javascript">
var coupons='';
var groupId="";
</script>
<script>
    var cartlineList = null;
    var orderCouponsCode = null;
</script>
<!-- 内容部分 -->
<section class="container">

		<!-- 模块一 -->
		<article class="article article-width article-shopping-empty">
			<!-- 购物车 title -->
			<div class="go-shopping">&lt;<a style="color:#000;font-size:14px;" href="javascript:void(0);" class="event-continueshopping">继续购物</a></div>
			<h1 class="shopping-title">您的购物袋是空的</h1>
		</article>
		<!-- 模块二 -->
		<article class="article shopping-empty-box">
			<div class="shoppingcart-empty">
				<ul class="float-clearfix">
					<li>
						<h3>寻觅灵感？</h3>
						<a href="/landingpage/top10">立即购买您最喜爱的产品</a>
					</li>
					<li>
						<h3>想要找到完美的礼物?</h3>
						<a href="/gift-finder">挑选最合适TA的精美礼物</a>
					</li>
				</ul>
			</div>
		</article>
		<!-- banner -->
		<article class="article article-banner">
				<a href="/landingpage/thanks-giving-day">
				   <img src="static/picture/blank.gif" lazysrc="true"
						data-image='{
						"standard":{"high":"", "normal":"https://res.lancome.com.cn/resources/2018/11/15/15422830433005702.jpg"},
						"medium":{"high":"", "normal":"https://res.lancome.com.cn/resources/2018/11/15/15422830459695141.jpg"},
						"small":{"high":"", "normal":"https://res.lancome.com.cn/resources/2018/11/15/15422830492967837.jpg"}
					}' alt="感恩节"/>
				</a>
			</article>
		<article class="article">
			<div class="shoppingcart-box float-clearfix">
				<div class="shoppingcart-container">
					<div class="cart-left-box events-check-box">
						<div class="cart-content">
							<div class="total-box total-empty float-clearfix">
								<div class="immediately-go">
									<p class="mob-price none block-sm">总价 : <span>¥0</span></p>
									<a class="mob-goshopping none block-sm" href="/"> <span class="none-sm">&lt;</span>继续购物</a>
									<a class="btn btn-pink none block-sm ">空购物袋</a>
									<a href="tel:400-820-8016" class="mob-service none block-sm"><i class="icon icon-checkout-customer-service"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
</section>
<footer class="footer-simple none-sm">
	<div class="footer-simple-viation float-clearfix">
		<div class="viation-items">
			<p class="items-title">
				<i class="icon icon-simple-lock"></i>安全支付保障
			</p>
			<p>安全支付系统采用SSL加密。</p>
			<p class="alipay-way">
				<i class="icon icon-simple-alipay"></i> <i
					class="icon icon-simple-wepay"></i> <i
					class="icon icon-simple-unionpay"></i>
			</p>
		</div>
		<div class="viation-items">
			<p class="items-title">
				<i class="icon icon-simple-phone"></i>联系我们
			</p>
			<p>如果您有任何问题，</p>
			<p>希望得到进一步咨询，</p>
		</div>
		<div class="viation-items">
			<p class="items-title">
				<i class="icon icon-simple-gift"></i>您的特殊礼遇
			</p>
			<p>首款好礼</p>
			<p>首次购物可获赠</p>
			<p>免费礼品小样</p>
		</div>
		<div class="viation-items">
			<p class="items-title">
				<i class="icon icon-simple-clock"></i>全国配送
			</p>
			<p>快递可至全国各地</p>
			<p>快递2至6日</p>
			<p>正常送达全国</p>
		</div>
		<div class="viation-items">
			<p class="items-title">
				<i class="icon icon-simple-chat"></i>需要帮助？
			</p>
			<p>我们在线客服人员将帮助您在线选购商品</p>
			<p>
				<a
					onclick="window.open('http://care3.live800.com/live800/chatClient/chatbox.jsp?companyID=8169&configID=2482&skillId=648&enterurl=%E5%85%B0%E8%94%BB', 'newwindow', 'height=600, width=700, toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no')"
					title="在线咨询">在线咨询</a>
			</p>
			<p>（周一至周日9:00-21:00）</p>
			<p>客服热线：400-820-8016</p>
			<p>（周一至周日9:00-21:00）</p>
		</div>
	</div>

	<div class="footer-container">
		<ul class="statement">
			<li class="none-sm"><span>© L’Oreal China 欧莱雅（中国）有限公司版权所有</span>
			</li>
			<li><i class="icon icon-footer-zggs"></i> <a target="_blank"
				href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=2012041023233378" rel="nofollow"> <span>中国工商</span>
			</a><span>&nbsp;&nbsp;</span>
			<a target="_blank"
				href="http://www.miibeian.gov.cn" rel="nofollow"> <span>沪ICP备08100043号-34</span>
			</a>
			
			</li>
			<li><i class="icon icon-footer-hgyab"></i> <a target="_blank"
				href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602001526" rel="nofollow">
					<span>沪公网安备 31010602001526号</span>
			</a></li>
			<li class="none block-sm"><span>© L’Oreal China
					欧莱雅（中国）有限公司版权所有</span></li>
		</ul>
		<div class="con-content">
			<ul>
				<li><a target="_blank"
					href="http://policy.lorealchina.com/termsofusewebsite" rel="nofollow">使用条款</a></li>
				<li><a target="_blank"
					href="http://policy.lorealchina.com/cookiespolicy" rel="nofollow">Cookies政策</a></li>
				<li><a target="_blank"
					href="http://policy.lorealchina.com/privacypolicy" rel="nofollow">隐私政策</a></li>
			</ul>
			<p class="none-sm">
				浏览该网站表示您接受并同意我们使 用cookies为您提供个性化的浏览体验。点击<a target="_blank"
					href="http://policy.lorealchina.com/cookiespolicy" rel="nofollow">Cookies政策</a>了解详情
			</p>
		</div>
	</div>
</footer></div>
	<script type="text/javascript" src="static/js/ajax-extend.js"></script>
	
	<script id="clobscript" type="text/javascript" src="static/js/clobs.js"></script>
	<script type="text/javascript">
    var iplobserverstart = new Date();
    var iplperformancetiming = 5;
    var iplcustomdim = document.location.hostname;
    //默认plp
    var iplparcours = "Category";
    var pathname = document.location.pathname;
    var indexReg = new RegExp("^\\/$");
    //首页
    if (indexReg.test(pathname) || pathname.indexOf("/index") > -1) {
        iplparcours = "Homepage"
    }
    //pdp
    if (pathname.indexOf("/item/") > -1) {
        iplparcours = "Product"
    }
    //购物车
    if (pathname.indexOf("/shoppingcart") > -1) {
        iplparcours = "ShopCart"
    }
    //结算页
    if (pathname.indexOf("/transaction/check") > -1) {
        iplparcours = "CheckOut"
    }
    //更换支付、支付成功
    if (pathname.indexOf("/payment/rePayment.htm") > -1 || pathname.indexOf("/payment/paySuccess") > -1) {
        iplparcours = "Payment"
    }
    //我的账户
    if (pathname.indexOf("/myaccount/") > -1) {
        iplparcours = "MyAccount"
    }
    //登陆、注册、忘记密码
    if (pathname.indexOf("/member/") > -1) {
        iplparcours = "Member"
    }
    //专柜
    if (pathname.indexOf("/stores") > -1) {
        iplparcours = "Store"
    }
    //活动页
    if (pathname.indexOf("/landing/") > -1) {
        iplparcours = "Activity"
    }
    //帮助页
    if (pathname.indexOf("/customer-service") > -1) {
        iplparcours = "Help"
    }
    console.log(iplparcours)
</script>

<script type="text/javascript" src="static/js/gs.js" async="async"></script>
<script type="text/javascript" src="static/js/pagetracking.js" async="async"></script>

<!-- Google Tag Manager LOREAL_GTM_v1 -->
<!-- End Google Tag Manager LOREAL_GTM_v1 -->

<!-- Gridsum tracking code begin. -->
<script type='text/javascript'>
    var _gsq = _gsq || [];
    </script>
<!--Gridsum tracking code end. -->

<script type="text/javascript">
    var _nht_args={};
    _nht_args.rta_k="dI5HxmoL25";
</script>
<script type="text/javascript" src="static/js/nht_static.js"></script>
<script type="text/javascript" src="static/js/tingyun-rum.js" async="async""></script>
<!-- <script type="text/javascript" src="static/js/e4e3848f3a24a06a7711b7e38b6a7688.js"></script> -->		<script type="text/javascript" src="static/js/ecommercetracking.js" async="async"></script>
<script type="text/javascript" src="static/js/gridsumtracking.js" async="async"></script>
<script type="text/javascript" src="static/js/eventtracking.js" async="async"></script>
<script type="text/javascript" src="static/js/pagetracking.js" async="async"></script>
<script>
    var pageUrl = window.location.pathname;

    try{
        var iframe = document.createElement('<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K5FK26L" height="0" width="0" style="display:none;visibility:hidden"></iframe>');
    }catch(e){
        var iframe = document.createElement('iframe');
        iframe.name = 'ifr';
        iframe.src = '//www.googletagmanager.com/ns.html?id=GTM-K5FK26L';
        iframe.height = '0';
        iframe.width = '0';
        iframe.style = 'display:none;visibility:hidden';
    }
    var w = window;
    var d = document;
    var s = 'script';
    var l = 'dataLayer';
    var i = 'GTM-K5FK26L';
    w[l] = w[l] || [];
    w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
    var f = d.getElementsByTagName(s)[0];
    var j = d.createElement(s);
    var dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
    
    var trackingMemberId = '';
    var isLogged = "not logged";
    if(loginFlag) {
        isLogged = "regular logged";
        if(typeof (groupId) !== 'undefined' && groupId !== null) {
            trackingMemberId = groupId;
        }
        // // 是否是第三方登录
        // var loginType = third_login_type;
        // if(loginType !== undefined && loginType !== null){
        //     isLogged = "social logged";
        // }else {
        //     isLogged = "regular logged";
        // }
    }
    
    
    if(pageUrl.indexOf("landing") >= 0) {
        // (function(i,s,o,g,r,a,m){
        var i = window;
        var s = document;
        var o = 'script';
        var g = 'https://www.google-analytics.com/analytics.js';
        var r = 'gaTracker';
        i['GoogleAnalyticsObject']=r;
        i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
        var a=s.createElement(o), m=s.getElementsByTagName(o)[0];
        a.async=1;
        a.src=g;
        m.parentNode.insertBefore(a,m);
        // })(window,document,'script','https://www.google-analytics.com/analytics.js','gaTracker');

        gaTracker("create", "UA-19298438-12", "auto", "Truemetrics2", {userId: trackingMemberId});
    }
</script>

</body>
</html>